@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #1a73e8;
  --secondary-blue: #4285f4;
  --light-blue: #e8f0fe;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--primary-blue);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}